#pdfwatermark-settings-form .container-inline .form-item {
  margin-right: 10px;
}

#pdfwatermark-settings-form .container-inline .form-item-pdfwatermark-font-style {
  margin-right: 0;
}

#pdfwatermark-settings-form .container-inline .form-item > label:after {
  content: ':';
  margin-left: -3px;
  margin-right: 3px;
}

#pdfwatermark-settings-form .container-inline .form-item label.option:after {
  content: '';
  margin: 0;
}

#pdfwatermark-settings-form .container-inline .form-item-pdfwatermark-font-family > label,
#pdfwatermark-settings-form .container-inline .form-item-pdfwatermark-font-size > label,
#pdfwatermark-settings-form .container-inline .form-item-pdfwatermark-color > label,
#pdfwatermark-settings-form .container-inline .form-item-pdfwatermark-font-style > label {
  position: absolute;
  left: -5000px;
}
